.header, .hero, .body, .bar, .footer{
	background-color: #ddd;
	margin-bottom: 10px;
	padding: 10px 0;
	text-align: center;
}
.box{
	min-height: 100px;
	border: 1px solid red;
	margin-bottom: 10px;
}
.box:hover{
	background-color: blue;
	transition: .5s;
}
.green{
	background-color: green;
}


/*code by nuruddinpro*/



